/* team rust 404.css file */

/* general button design*/

button {
  color: white;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}

h1 {
  font-size: 75px;
  font-family: Georgia, serif;
  font-style: italic;
}



.right {
  position: absolute;
  right: 25px;
  width: 100px;
  padding: 10px;
}

.left {
  position: absolute;
  left: 25px;
  width: 100px;
  padding: 10px;
}


.full {
  height: 100%;
  width: 100%;
}


button:hover {
  opacity: 0.8;
}

/* The Modal (background) */
