/* default.css */

/* user for element debugging */

/* { border: 1px solid red; }*/

/* default setting for html and body */

html, body {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: 0;
    font-size: 100%;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* main dividers */

/*************** header *****************/

#about_message{
    text-align: left;
    padding-right: 20%;
    padding-left: 20%;
    font-size: x-large;
}

.help_message{
    text-align: left;
    padding-right: 20%;
    padding-left: 20%;
    font-size: large;
}

.help_titles{
    text-align: left;
    padding-left: 20%;
}

.header-div {
    font-family: "Bookman Old Style";
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    z-index: 5; 
    background-color: white;
}

/* styling for the title 'MAKALEHA' */

.title {
    /*font-family: "Bookman Old Style";*/
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 24px;
    padding-left: 10%;
}

.title-div {
    width: 25%;
    display: inline-block;
}

#rev-title {
    padding-top: 2%; 
}

/* navigation bar divider */

.nav-div {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
}

a.nav {
    text-decoration: none;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

a.nav:hover {
    color: #dbd9d9;
}

/* three line bar styling */

.account-div {
    width: 25%;
    display: inline-block;
    text-align: right;
    margin-top: 1%;
}

/*  https://stackoverflow.com/questions/44207293/adding-a-drop-down-menu-to-three-line-menu-icon  */

.menu {
    display: inline-block;
    cursor: pointer;
    margin-right: 10%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.dropdwn-content {
    display: none;
}

/*************** page *****************/

.page-div {
    padding-top: 5%;
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
}

.pol-div {
    background-color: #ebebeb;
    height: auto;
    width: 100%;
}

.review-div {
    padding-top: 6%;
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
    padding-left: 2%; 
}

.ft-text {
    font-family: "Bookman Old Style";
    font-size: 20px;
    font-weight: bold;
    margin-left: 2.7%;
    padding-top: 2%;
}

.ft-div {
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* image styling */ 
.img-div {
    text-align: center;
    display: flex;
    width: 100%;
    height: 60%;
}

.img-lft {
    height: 50%;
    border: 10px solid white;
}

.img {
    height: 50%;
    display: inline-block;
    border: 10px solid white;
}

/* feature text styling */
.event-div {
    width: 25%;
    height: 80%;
}

.event-text {
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    height: 50;
}

/*************** footer *****************/

.foot-div {
    height: auto;
    width: 100%;
    background-color: #b0b0b0;
}

.logo {
    height: 40%;
    width: 40%;
    margin-bottom: 0;
    display: inline-block;
}

.cmp-info {
    width: 30%;
    margin-left: 5%;
}

.footer {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    height: auto; 
}

a.footer {
    text-decoration: none;
    color: black;
    margin-bottom: 2%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

p.footer {
    text-decoration: none;
    color: black;
    padding-left: 15%;
    padding-right: 2%;
    cursor: pointer;
}

a.footer:hover {
    color: #dbd9d9;
}

/* favorite button styling */
.saved-btn {
    background-color: yellow;
    color: black;
    border: none;
}

.unsaved-btn {
    background-color: #f6f7df;
    color: black;
    border: none;
}

.favoriteButton {
    font-size: 250%;
    color: yellow;
}

a {
    text-decoration: none;
    color: black;
}

button {
    position: absolute;
    color: white;
    background: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}