/* team rust table.css file */

#categorytable {
    border: 1px solid black;
    height: 50px;
    width: 100%;
    overflow-y: scroll;
    line-height: 50px;
    table-layout: fixed;
}

#displaytext {
    border: 1px solid black;
    width: 75%;
}

.categoryclass {
    display: table-cell;
}

.categoryrow {
    display: table-row;
}

td,tr {
    background-color: #3b3b3b;
    color: #e8e8e8;
    padding-left: 10%; 
    cursor: pointer;
}

td:hover,tr:hover{
    background-color: #292929;
}
