/* team rust table.css file */

#categorytable {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    line-height: 300%;
}

#displaytext {
    border: 1px solid black;
    width: 75%;
}

.categoryclass {
    display: table-cell;
}
