/* team rust table.css file */

#categorytable {
    border: 1px solid black;
    height: 50px;
    width: 100%;
    overflow-y: scroll;
    line-height: 50px;
    table-layout: fixed;
}

#displaytext {
    border: 1px solid black;
    width: 75%;
}

.categoryclass {
    display: table-cell;
}

.categoryrow {
    display: table-row;
}

td,tr {
    background-color: #3b3b3b;
    color: #e8e8e8;
    padding-left: 10%; 
    cursor: pointer;
}

td:hover,tr:hover{
    background-color: #292929;
}

.review-tb {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    width:100%; 
}

.review-tr {
    background-color: white;
    display: table-row;
    color:black;
    vertical-align: inherit;
    border-color: inherit;
}
.review-td:hover,.review-tr:hover{
    background-color: #f7f7f7;
}
.review-td {
    background-color: white;
    color: black;
    display: table-cell;
    vertical-align: inherit;
}
